# Core ML stack
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.4.2
joblib==1.4.2
python-dateutil==2.9.0.post0

# Database
psycopg2-binary==2.9.9

# Orchestration (Dagster)
dagster==1.8.12
dagster-webserver==1.8.12

# API
fastapi==0.110.0
uvicorn==0.29.0

# Optional
pytest==8.3.4
